<div class="card-container">
  <mat-card class="example-card" *ngFor="let file of fileModels">
    <mat-card-header>
      <mat-card-title style="text-align: center; margin: 0.5rem;">{{file.name}}</mat-card-title>
      <mat-card-subtitle style="text-align: center; margin: 0.5rem;">{{file.size}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="photo" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-actions style="width: 80%">
      <button class="action" (click)="more(file)">MORE</button>
    </mat-card-actions>
  </mat-card>
</div>
