<mat-toolbar class="toolbar stickyBar">
  <mat-toolbar-row>
    <img src="assets/logo.png" style="height: 90%"/>
    <span class="example-spacer"></span>
    <button *ngIf="!(isLoggedIn$ | async)"
            (click)="login()"
            class="login"
    >LogIn</button>
    <button *ngIf="!(isLoggedIn$ | async)"
            (click)="signup()"
            class="logout"
    >SignUp</button>
    <button *ngIf="isLoggedIn$ | async"
            (click)="logout()"
            class="logout"
    >LogOut</button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
